@font-face {
	font-family: 'BarlowRegular';
	src: url('fonts/BarlowRegular.woff2') format('woff2'),
		url('fonts/BarlowRegular.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
    box-sizing: border-box;
}

%button {
    width: 42%;
    min-width: 205px;
    height: 42px;    
    background-position: 5% 37%;
    border: none;
    background-repeat: no-repeat;
    letter-spacing: 0.3px;
    color: #ffffff;
    &:hover {
        filter: brightness(120%);
        cursor: pointer;
    }
    &:active {
        filter: brightness(100%);
    }
}

%line {
    content: '';
    border-bottom: 1px solid #AFAFAF;
    width: 25%;
}

.button {
    margin-top: 8px;
    margin-left: 2px;
    @extend %button
}

body {
    font-family: BarlowRegular;
    color: #2a4a5c;
    margin: 0;
    padding: 0;
}

.main-wrapper {
    background-color: #EFF6FF;
    padding: 25px;
}

.container {
    display: flex;
    background-color: #ffffff;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 1440px;
    height: 100vh;
    min-height: 1000px;
}

.header {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    width: 839px;
    height: 100%;
    padding-left: 50px;
    padding-top: 42px;
}

.logo-img {
    height: 30px;
}

.main {
    width: 750px;
    padding-left: 73px;
    padding-top: 86px;
}

.slogan {
    font-size: 19px;
    margin-bottom: 55px;
    &__description {
        font-size: 19.5px;
        line-height: 0.5;
        letter-spacing: 0.65px;
    }
}

.social-media-register {
    margin-bottom: 52px;
    &__button__facebook {
        background-color: #255A9B;
        background-image: url(img/facebook.svg);
        background-size: 19px;
        margin-right: 30px;
    }
    
    &__button__linkedin {
        background-color: #0076B6;
        background-image: url(img/linkedin.svg);
        background-size: 18px;
    }
}

.separator {
    display: flex;
    align-items: center;
    margin-left: 23%;
    font-size: 11px;
    margin-bottom: 46px;
    &__text {
        margin: 0 10px 0 10px;
    }
    &::before {
        @extend %line;
  }
    &::after {
        @extend %line;
    }
}

.create-account {
    &__form {
        display: flex;
        flex-wrap: wrap; 
    }
    
}

.form {
    &__label {
        position: relative;
        display: flex;
        flex-direction: column;
        border: 1px solid #EEEEEE;
        width: 42%;
        min-width: 205px;
        height: 57px;
        margin-left: 2px;
        padding: 2px 8px;
        font-size: 14px;
        margin-bottom: 39px;
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background-color: #3698FB;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }
        &:hover::before {
            opacity: 1;
        }
        &:focus-within::before {
            opacity: 1;
        }
    }
    &__label:not(:last-child) {
        margin-right: 33px;
        border-radius: 5px 5px 0 0;
    }
    &__label:last-child {
        border-radius: 0 0 5px 5px;
    }
    &__fake-placeholder {
        color: #afafaf;
    }
    &__input {
        border: 0px;
        font-size: 16px;
        margin-top: 7px;
        &:focus-visible {
            outline: none;
        }
    }
}

.choose-type {
    &__title {
        font-size: 22px;
        letter-spacing: -0.2px;
        margin-bottom: 5px;
    }
    &__description {
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.1px;
        margin-bottom: 50px;
    }
    &__radio-wrapper {
        display: flex;
        flex-direction: row;
        margin-left: 2px;
        margin-bottom: 121px;
    }
    
    &__radio-item {
        display: flex;
        align-items: baseline;
        margin-right: 6%;
        margin-bottom: 21px;
    }
}

.radio-item {
    &__input {
        display: none;
    }
    &__input:checked + label:after {
        width: 9px;
        height: 9px;
        border: 4px solid #3698FB;
        transition: opacity ease-in-out 400ms;
        opacity: 1;
    }
    &__label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 7px;
        line-height: 18px;
        user-select: none;
    }
    &__label:before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        position: absolute;
        left: 0;
        bottom: 1px;
        border: 2px solid #EEEEEE;
        border-radius: 25px;
    }     
    &__label:after {
        content: "";
        display: inline-block;
        width: 9px;
        height: 9px;
        position: absolute;
        left: 0;
        bottom: 1px;
        border: 4px solid #3698FB;
        border-radius: 25px;
        transition: opacity ease-in-out 400ms;
        opacity: 0;
    }  
    &__label:hover:before {
        filter: brightness(80%);
    }
    &__label:hover:after {
        filter: brightness(120%);
    }
    &__tooltip {
        border: 1px solid #afafaf;
        display: flex;
        border-radius: 25px;
        width: 10px;
        height: 10px;
        font-size: 8px;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: help;
        &:after {
            content:attr(data-tooltip);
            width: 255px;
            margin-left: 5px;
            padding: 9px 13px;
            line-height: 17px;
            font-size: 13px;
            letter-spacing: 0.1px;
            color: #afafaf;
            background-color: #fff;
            border-radius: 5px;
            filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.05));
            position: absolute;
            z-index: 50;
            top: 15px;
            left: -280px;
            display: none;
        }
        &:hover:after {
            display: block;
        }
    }
}


.agreement {
    margin-left: -2px;
    margin-bottom: 51px;
    &__description {
        font-size: 13px;
        letter-spacing: 0.05px;
        margin-left: 1.5rem;
        color: #AFAFAF;
    }
    &__label {
        position: relative;
        left: 20px;
    }
    
    &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;
    }

    &__label:before {
        content: '';
        position: absolute;
        display: flex;
        width: 0.65em;
        height: 0.65em;
        border: 1px solid #afafaf;
        top: 5px;
        left: -1em;
    }
    &__label:hover:before {
        filter: brightness(120%);
    } 
    &__label:after {
        content: '';
        position: absolute;
        display: flex;
        width: 0.45em;
        height: 0.2em;
        border-left: 2px solid #3698FB;
        border-bottom: 2px solid #3698FB;
        transform: rotate(-45deg);
        top: 7px;
        left: -0.9em;
        transition: opacity ease-in-out 400ms;
        opacity: 0;
    }
    &__input:checked + label:after {
        transition: opacity ease-in-out 400ms;
        opacity: 1;
    }
}

.submit {
    margin-left: 2px;
    background-color: #3698FB;
    font-size: 15px;
    border-radius: 5px;
}

// @Media ---------------------------------------------------

@media (max-width: 1200px){
    %line {
        width: 41%;
    }
    %button {
        width: 90%;
    }
    .slogan {
        &__description {
            font-size: 0.8em;
        }
    }
    .separator {
        margin-left: 0;
    }
    .form__label:not(:last-child) {
        margin-right: 0px;
    }
    .form__label {
        width: 90%;
        margin-bottom: 8px;
    }
    .choose-type__radio-item {
        margin-right: 2%;
    }
    .agreement__label::before {
        top: 3.5px;
    }
}

@media (max-width: 1000px) {
    .slogan {
        &__description {
            line-height: 1;;
        }
    }
    .choose-type__radio-wrapper {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .radio-item__tooltip:after {
        width: 160px;
        left: 0;
    }
    .agreement {
        width: 300px;
        margin-bottom: 25px;
        &__label::before {
            top: 4px;
        }
    }
}

@media (max-width: 700px) {

    %button {
        width: 100%;
        margin-left: 0;
    }
    %line {
        width: 48%;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px;
    }
    .header {
        background-image: url(img/bg700.jpg);
        width: 100%;
        height: 299px;
        padding: 25px;
    }
    .slogan {
        margin-bottom: 40px;
        &__title {
            font-size: 2em;
            margin: 15px 0;
        }
        &__description {
            font-size: 1em;
            margin-top: 15px;
        }
    }
    .main {
        width: 100%;
        padding-left: 0;
        padding-top: 0;
    }
    .form__label {
        width: 100%;
    }
    .form__label:not(:last-child) {
        margin-right: 0px;
    }
    .choose-type {
        &__title {
            font-size: 2em;
            margin: 15px 0;
        }
        &__description {
            font-size: 1em;
            margin-top: 15px;
        }
    }
    .choose-type__radio-wrapper {
        flex-direction: row;
        justify-content: space-around;
    }
    .agreement {
        width: 100%;
    }
}