@font-face {
	font-family: 'BarlowRegular';
	src: url('fonts/BarlowRegular.woff2') format('woff2'),
		url('fonts/BarlowRegular.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
    box-sizing: border-box;
}

%button {
    width: 42%;
    min-width: 205px;
    height: 42px;    
    background-position: 5% 37%;
    border: none;
    background-repeat: no-repeat;
    letter-spacing: 0.3px;
    color: #ffffff;
}

%line {
    content: '';
    border-bottom: 1px solid #AFAFAF;
    width: 25%;
}

body {
    font-family: BarlowRegular;
    color: #2a4a5c;
}

.main-wrapper {
    background-color: #EFF6FF;
    padding: 25px;
}

.container {
    display: flex;
    background-color: #ffffff;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 1440px;
}

.button {
    margin-top: 8px;
    margin-left: 2px;
    @extend %button
}

.button__register-facebook {
    background-color: #255A9B;
    background-image: url(img/facebook.svg);
    background-size: 19px;
    margin-right: 30px;
}

.button__register-linkedin {
    background-color: #0076B6;
    background-image: url(img/linkedin.svg);
    background-size: 18px;
    // padding-right: 16px;
}

.header {
    background-image: url(img/bg.jpg);
    width: 839px;
    height: 1000px;
    padding-left: 50px;
    padding-top: 42px;
}

.logo-img {
    height: 30px;
}

.main-block {
    width: 750px;
    padding-left: 73px;
    padding-top: 86px;
}

.section__title {
    font-size: 19px;
    margin-bottom: 55px;
    .description {
        font-size: 19.5px;
        line-height: 0.5;
        letter-spacing: 0.65px;
    }
}

.social-media__register {
    margin-bottom: 52px;
}

.separator {
    display: flex;
    align-items: center;
    margin-left: 23%;
    font-size: 11px;
    margin-bottom: 46px;
    &::before {
        @extend %line;
  }
    &::after {
        @extend %line;
    }
}

.separator__text {
    margin: 0 10px 0 10px;
}

.registration__form {
    display: flex;
    flex-wrap: wrap;
}

.register-label {
    display: flex;
    flex-direction: column;
    color: #afafaf;
    border: 1px solid #EEEEEE;
    width: 42%;
    min-width: 205px;
    height: 57px;
    margin-left: 2px;
    padding: 2px 8px;
    font-size: 14px;
    margin-bottom: 39px;
    &:hover {
        border-left: 1px solid #3698FB;
    }
    &:focus {
        border-left: 1px solid #3698FB;
    }
}

.register-label:not(:last-child) {
    margin-right: 33px;
    border-radius: 5px 5px 0 0;
}

.register-label:last-child {
    border-radius: 0 0 5px 5px;
}

.register__input {
    border: 0px;
    font-size: 16px;
    margin-top: 7px;
    &:focus-visible {
        outline: none;
    }
}

.choose-type__title {
    font-size: 22px;
    letter-spacing: -0.2px;
    margin-bottom: 5px;
}

.choose-type__description {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.1px;
    margin-bottom: 50px;
}

.radio-select-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    margin-bottom: 121px;
}

.form_radio {
    input[type=radio] {
        display: none;
    }
}

.form_radio {
    display: flex;
    align-items: baseline;
    margin-right: 6%;
    margin-bottom: 21px;
}

.form_radio {
    label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 7px;
        line-height: 18px;
        user-select: none;
    }
}

.form_radio label:before {
	content: "";
	display: inline-block;
	width: 13px;
	height: 13px;
	position: absolute;
	left: 0;
	bottom: 1px;
    border: 2px solid #EEEEEE;
    border-radius: 25px;
}
 

.form_radio input[type=radio]:checked + label:before {
    width: 9px;
	height: 9px;
    border: 4px solid #3698FB;
}
 
.form_radio label:hover:before {
	filter: brightness(80%);
}

.tooltip-icon {
    border: 1px solid #afafaf;
    display: flex;
    border-radius: 25px;
    width: 10px;
    height: 10px;
    font-size: 8px;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: help;
    &:after {
        content:attr(data-tooltip);
        width: 255px;
        margin-left: 5px;
        padding: 9px 13px;
        line-height: 17px;
        font-size: 13px;
        letter-spacing: 0.1px;
        color: #afafaf;
        background-color: #fff;
        border-radius: 5px;
        filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.05));
        position: absolute;
        z-index: 50;
        top: 15px;
        left: 0px;
        display: none;
    }
    &:hover:after {
        display: block;
    }
}

.agreement__check {
    position: relative;
}

.agreement__check__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
}

.check__box {
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    background-image: url(img/checkboxEmpty.svg);
    top: 5px;
    left: 0.3rem;
    &:hover {
        filter: brightness(97%);
    }
}

.agreement__check__input:checked + .check__box{
    background-image: url(img/checkboxChecked.svg);
}

.agreement-wrapper {
    margin-left: -2px;
    margin-bottom: 51px;
}

.agreement__description {
    font-size: 13px;
    letter-spacing: 0.05px;
    margin-left: 1.5rem;
}

.submit {
    margin-left: 2px;
    background-color: #3698FB;
    font-size: 15px;
    border-radius: 5px;
}

@media (max-width: 1200px){
    %line {
        width: 41%;
    }
    %button {
        width: 90%;
    }
    .section__title {
        .description {
            font-size: 0.8em;
        }
    }
    .separator {
        margin-left: 0;
    }
    .register-label:not(:last-child) {
        margin-right: 0px;
    }
    .register-label {
        width: 90%;
        margin-bottom: 8px;
    }
    .form_radio {
        margin-right: 2%;
    }
}

@media (max-width: 1000px) {
    .section__title {
        .description {
            line-height: 1;;
        }
    }
    .radio-select-wrapper {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .agreement-wrapper {
        width: 300px;
        margin-bottom: 25px;
    }
}

@media (max-width: 700px) {

    %button {
        width: 100%;
        margin-left: 0;
    }
    %line {
        width: 48%;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px;
        // margin: 0 auto;
    }
    .header {
        background-image: url(img/bg700.jpg);
        width: 100%;
        height: 299px;
        padding: 25px;
    }
    .section__title {
        margin-bottom: 40px;
        .title {
            font-size: 2em;
            margin: 15px 0;
        }
        .description {
            font-size: 1.2em;
            margin-top: 15px;
        }
    }
    .main-block {
        width: 100%;
        padding-left: 0;
        padding-top: 0;
    }
    .choose-type__title {
        font-size: 2em;
        margin: 15px 0;
    }
    .choose-type__description {
        font-size: 1.2em;
        margin-top: 15px;
    }
    .register-label {
        width: 100%;
    }
    .register-label:not(:last-child) {
        margin-right: 0px;
    }
    .radio-select-wrapper {
        flex-direction: row;
        justify-content: space-around;
    }
    .agreement-wrapper {
        width: 100%;
    }
}